/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  border-bottom: 2px solid #ddd;
}

table tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}

table tbody tr:hover {
  background-color: #ddd;
}

/* Nuevos estilos para la sección Última Medición */
.last-measurement {
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
}

.measurement-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.measurement-column {
  flex: 1;
  text-align: center;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
